[Unit]
Description=Exports the user-visible GPIOs

[Service]
ExecStart=/usr/local/sbin/heads-export-gpios
Type=oneshot

[Install]
WantedBy=basic.target
